/* ////////// NAVBAR ////////// */
.nav-link:hover {
    color: rgba(0,0,0,.9);
    text-decoration: underline #3A5199;
}
/* ////////// GENERAL ////////// */
.bg-blue {
    background-color: #3A5199;
}
.bg-grey {
    background-color: #D5D6D2;
}
.bg-darkGrey {
    background-color: #2F2E33;
}
.text-blue {
    color: #3A5199;
}
.text-lightGrey {
    color: #D5D6D2;
}
/* ////////// FONTS ////////// */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 3rem;
    font-weight: 200;
}
h3 {
    font-size: 4rem;
    font-weight: 300;
}
h4 {
    font-size: 3rem;
    font-weight: 400;
    text-align: left;
}
h5 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
    margin-left: 1vw;
}
h6 {
    font-size: 1.2rem;
    font-weight: 300;
}
p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}
p.period {
    font-size: 1.3rem;
    margin: 0;
    margin-left: 1vw;
}
p.xp {
    font-size: 1.2rem;
    margin: 1vw 0vw 0vw 1vw;
}
/* ////////// HOME ////////// */
.couv {
    height: 100vh;
}
.couv img {
    height: 110vh;
    width: auto;
}
.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.download {
    display: block;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
/* ////////// ABOUT ////////// */
.blockTitle {
   padding-top: 2rem;
   padding-bottom: 10rem;
}
/* ////////// TRANSITION ////////// */
#transition img {
    width: 100%;
}
/* ////////// FORMATION ////////// */
.leftBlock {
    width: 49.5vw;
    background: url(../img/118-2.png) no-repeat;
    background-position: left;
}
.rightBlock {
    width: 49vw;
    display: inline-flex;
    height:100%
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, auto);
}
.date1 {
    grid-column-start:1;
    grid-row-start:1;
    align-self: center;
}
.date2 {
    grid-column-start:1;
    grid-row-start:2;
    align-self: center;
}
.date3 {
    grid-column-start:1;
    grid-row-start:3;
    align-self: center;
}
.date4 {
    grid-column-start:1;
    grid-row-start:4;
    align-self: center;
}
.date5 {
    grid-column-start:1;
    grid-row-start:5;
    align-self: center;
}
.form1 {
    grid-column-start:2;
    grid-row-start:1;
    align-self: center;
}
.form2 {
    grid-column-start:2;
    grid-row-start:2;
    align-self: center;
}
.form3 {
    grid-column-start:2;
    grid-row-start:3;
    align-self: center;
}
.form4 {
    grid-column-start:2;
    grid-row-start:4;
    align-self: center;
}
.form5 {
    grid-column-start:2;
    grid-row-start:5;
    align-self: center;
}
/* ////////// EXPERIENCES ////////// */
.leftExp {
    border-left: dotted;
    border-color: #3A5199;
}
.rightExp {
    border-left: dotted;
    border-color: #3A5199;
}
/* ////////// CONTACT ////////// */
.co img {
    height: 6vh;
    margin: 5vh;
}


@media screen and (max-width: 768px) { 
    .leftBlock {
        width: 100%;
    }
    .rightBlock {
        width: 100%;
        margin-top: 1rem;
    }
    .flex-column-reverse {
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important;
    }
}
@media screen and (max-width: 576px) { 
    h3 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h5 {
        color: #3A5199;
    }
    .rightExp,
    .leftExp {
        border: none;
    }
    p.period {
        font-weight: 400;
    }
    .co img {
        height: 5vh;
        margin: 3vh;
    }
}
/* ////////// COMPETENCES ////////// */

.blueCircle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: #3A5199;
    margin:0.5rem;
    margin-right:0;
}
.emptyCircle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #3A5199;
    margin:0.5rem;
    margin-right:0;
}
.compBox {
    display: -webkit-inline-box;
    display: -moz-inline-box;
}
.exemples {
    width: 50%;
    margin: auto;
}
img.d-block.w-100 {
    filter: brightness(0.5);
}